<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499084885225-hei6or1cdbjs9v3j1g8vt26ll7nitdqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499084885225-hei6or1cdbjs9v3j1g8vt26ll7nitdqj</string>
	<key>API_KEY</key>
	<string>AIzaSyDZfXhlFtzHlg11f9lbDoYhkovdwdvmBaE</string>
	<key>GCM_SENDER_ID</key>
	<string>499084885225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubhub</string>
	<key>PROJECT_ID</key>
	<string>clubhub-72be7</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhub-72be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499084885225:ios:6b13d6d438b0ef82d80478</string>
	<key>DATABASE_URL</key>
	<string>https://clubhub-72be7.firebaseio.com</string>
</dict>
</plist>